<!-- enctype="multipart/form-data" -->
<form id="uploadForm"
      enctype="multipart/form-data"
      action="/file/upload"
      method="post">
    	<input type="file" name="file" />
    	<input type="submit" value="submit"/>
</form>