<div class="row">
    <div class="col-md-3">
        <ul>
            <li><a ui-sref-active="active_link" ui-sref="restaurant">Menu List</a></li>
        </ul>
    </div>
    <div class="col-md-9" ui-view>
        <table class="table">
            <thead>
            <tr>
                <!--<th>Logo</th>-->
                <th>Name</th>
                <th>Price</th>
                <!--<th>City</th>-->
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="menu in menus">
                <!--<td><img src="/uploads/{{res.logo}}"/></td>-->
                <td>{{menu.name}}</td>
                <td>{{menu.price}}</td>
                <td><a ui-sref=".showmenu({ id: res.id })" class="btn btn-info btn-sm">Details</a></td>
                <td><a ui-sref=".menu" ng-click="delete(menu)" class="btn btn-info btn-sm">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


 