<form class="col-md-10">
    <!--<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" ng-model="restaurant.name" type="text" class="form-control" placeholder="name">
    </div>
    <div>
    <label for="">Logo</label>

    <div class="btn btn-primary upload-img" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>
    <span>{{files[0].name}}</span><span ng-if="image_path"><img src="{{image_path}}"></span>
    <!--<div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"-->
    <!--class="ng-scope">-->
    <!--<div class="thumbnail" ng-show="!$flow.files.length">-->
    <!--<img src="http://www.placehold.it/150x150/EFEFEF/AAAAAA&text=no+image">-->
    <!--</div>-->
    <!--<div class="thumbnail ng-hide" ng-show="$flow.files.length" >-->
    <!--<img flow-img="$flow.files[0]" width="150px" height="150px">-->
    <!--</div>-->
    <!--<div>-->
    <!--<span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">Select image<input type="file"-->
    <!--style="visibility: hidden; position: absolute;"></span>-->
    <!--<span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn="">Change<input type="file"-->
    <!--style="visibility: hidden; position: absolute;"></span>-->
    <!--<span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">-->
    <!--Remove-->
    <!--</span>-->
    <!--</div>-->
    <!--<p>-->
    <!--Only PNG,GIF,JPG,JEPG files allowed.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="InputFile">Logo</label>-->
    <!--<input type="file" name="file" ng-change="angular.element(this).scope().uploadFile(this.files)"/>-->
    <!--<p class="help-block">{{restaurant.image}}</p>-->
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <input name="type" ng-model="restaurant.type" type="text" class="form-control" placeholder="restaurant type">
    </div>
    <div class="form-group">
        <label for="">City</label>
        <input ng-model="restaurant.city" type="text" class="form-control" placeholder="city">
    </div>
    <div class="form-group">
        <label for="">Postal Code</label>
        <input ng-model="restaurant.postcode" type="text" class="form-control" placeholder="postal code">
    </div>


    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<div class="well">-->
    <!--<div class="btn">-->
    <!--<div class="btn" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>-->
    <!--</div>-->
    <!--<div id="profile-img-cont" class="profile-img-cont">-->
    <!--<img id="restaurant-img" class="restaurant-img" src="{{loggedinUser.myprofile_image?loggedinUser.myprofile_image:fileLoc}}">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="checkbox">
        <input type="checkbox" checked ng-model="restaurant.is_enabled" ng-init="restaurant.is_enabled=true">
        <p ng-hide="!restaurant.is_enabled">Enabled</p>
        <p ng-hide="restaurant.is_enabled">Disabled</p>
    </div>
    <!--<div flow-init="" flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">-->
    <!--<div class="drop" flow-drop="" ng-class="dropClass">-->
    <!--<span class="btn btn-default" flow-btn="">Upload Image<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>-->
    <!--<span class="btn btn-default" flow-btn="" flow-directory="" ng-show="$flow.supportDirectory">Upload Folder of Images<input type="file" multiple="multiple" webkitdirectory="webkitdirectory" style="visibility: hidden; position: absolute;"></span>-->
    <!--<b>OR</b>-->
    <!--Drag And Drop your images here-->
    <!--</div>-->

    <!--<br>-->

    <!--<div>-->

    <!--&lt;!&ndash; ngRepeat: file in $flow.files &ndash;&gt;-->
    <!--<div class="clear"></div>-->
    <!--</div>-->

    <!--</div>-->

    <button ng-click="saveRestaurant()" class="btn btn-default">Submit</button>
</form>
{{rp}}

    <!--watching model:-->
    <!--<div class="button" ng-file-select ng-model="files">Upload using model $watch</div>-->