<div class="row">
    <div class="col-md-3">
        <ul>
            <li><a ui-sref-active="active_link" ui-sref="restaurant">Restaurant List</a></li>
            <li><a ui-sref-active="active_link" ui-sref=".newrestaurant">Create new</a></li>
        </ul>
    </div>
    <div class="col-md-9" ui-view>
        <table class="table">
            <thead>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Type</th>
                <th>City</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="res in restaurants">
                <td><img width="100px" height="100px" ng-src="{{res.logo}}"/></td>
                <td>{{res.name}}</td>
                <td>{{res.type}}</td>
                <td>{{res.city}}</td>
                <td><a ui-sref=".showrestaurant({ id: res.id })" class="btn btn-info btn-sm">Details</a></td>
                <td><a ui-sref=".restaurant" ng-click="delete(res)" class="btn btn-info btn-sm">Delete</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


 