<div class="col-md-10">
    <h1>{{menu.name}}</h1>

    <table class="table">
        <tr>
            <td>Logo</td>
            <td><img width="150px" height="150px" src="{{res.logo}}" alt="logo"/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{menu.name}}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{menu.price}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{menu.details}}</td>
        </tr>
        <tr>
            <td>Post Code</td>
            <td>{{menu.image}}</td>
        </tr>
    </table>
    <br/>

    <h2>Add Item</h2>

    <div class="well">
        <form class="form form-horizontal">
            <div class="form-group">
                <input ng-model="newItem.name" class="form-control" placeholder="name">
            </div>
            <!--<div class="form-group">-->
                <!--<input ng-model="newItem.price" type="text" class="form-control"-->
                       <!--placeholder="price"/>-->
            <!--</div>-->
            <div class="form-group">
                <input ng-model="newItem.details" type="text" class="form-control"
                       placeholder="details"/>
            </div>
            <div class="form-group">
                <input ng-model="newItem.image" type="text" class="form-control"
                       placeholder="image"/>
            </div>
            <button ng-click="addItem()" type="submit" class="btn btn-default">add</button>
        </form>
    </div>

    <div class="well">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Image</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.details}}</td>
                <td>{{item.image}}</td>
                <td><a ng-click="delete(item)" class="btn btn-info btn-sm">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>











