<div class="col-md-10">
    <h1>{{res.name}}</h1>

    <table class="table">
        <tr>
            <td>Logo</td>
            <td><img width="150px" height="150px" src="{{res.logo}}" alt="logo"/></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{res.name}}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{res.type}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{res.city}}</td>
        </tr>
        <tr>
            <td>Post Code</td>
            <td>{{res.postcode}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td ng-hide="!res.is_enabled">Enabled</td>
            <td ng-hide="res.is_enabled">Disabled</td>
        </tr>
    </table>
    <br/>

    <h2>Add Menu</h2>

    <div class="well">
        <form class="form form-horizontal">
            <div class="form-group">
                <input ng-model="newMenu.name" class="form-control" placeholder="name">
            </div>
            <div class="form-group">
                <input ng-model="newMenu.price" type="text" class="form-control"
                       placeholder="price"/>
            </div>
            <div class="form-group">
                <input ng-model="newMenu.details" type="text" class="form-control"
                       placeholder="details"/>
            </div>
            <!--<div class="form-group">-->
                <!--<input ng-model="newMenu.image" type="text" class="form-control"-->
                       <!--placeholder="image"/>-->
            <!--</div>-->
            <div class="form-group">
                <div     class="btn btn-primary upload-img" ng-file-select ng-file-change="upload($files)" ng-multiple="multiple">Select File</div>
                <span>{{files[0].name}}</span><span ng-if="image_path"><img src="{{image_path}}"></span>
            </div>

            <button ng-click="saveMenu()" class="form-group btn btn-default">add</button>
        </form>
    </div>
    <div class="well">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="menu in menus">
                <td>{{menu.name}}</td>
                <td>{{menu.price}}</td>
                <td><a ui-sref="menu.showmenu({ id: menu.id })" class="btn btn-info btn-sm">Details</a></td>
                <td><a ng-click="delete(menu)" class="btn btn-info btn-sm">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>











